*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%; // 10px
  font-family: 'Poppins', sans-serif; // 'Montserrat', 'Roboto';
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;

  background-color: #227093;
  color: #fff;

  h1 {
    margin: 20px 0;
    font-size: 4rem;
  }

  .rules-btn {
    position: absolute;
    top: 30px;
    left: 30px;
    margin-bottom: 20px;
  }

  .btn {
    cursor: pointer;
    border: none;
    padding: 10px 20px;
    background-color: hsl(240, 31%, 25%);
    color: #fff;
    border-radius: 5px;
    outline: none;
    transition: background-color 0.3s ease-in-out;

    &:hover {
      background-color: hsl(240, 51%, 45%);
    }

    &:active {
      transform: scale(0.98);
    }
  }

  .rules {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    max-width: 250px;
    background-color: #218c74;
    font-size: 1.5rem;

    display: flex;
    flex-direction: column;
    // justify-content: center;
    align-items: center;
    transform: translateX(-100%);
    transition: transform 0.4s ease-in-out;

    h2 {
      margin-top: 75px;
    }

    & > * {
      margin: 20px 0;
      padding: 10px;
    }

    .btn {
      position: absolute;
      top: 5px;
      right: 10px;
    }

    &.show {
      transform: translateX(0);
    }
  }

  canvas {
    background-color: #f7f1e3;
    display: block;
    border-radius: 5px;
  }
}
